<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Express</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <%- include('blocks/header')-%>
  <main>
    <h1>Страница про нас</h1>
    <p>Amet eaque doloremque quae officia pariatur. Fugiat nisi a iure ex ut, adipisci. Accusantium voluptate officia enim cum quod quasi hic aliquid mollitia? Facere porro dolore repellat quas sit. Debitis</p>
  </main>
</body>
</html>

