<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Express</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <%- include('blocks/header')-%>
  <main>
    <h1>Главная страница</h1>
    <p>Elit corporis adipisicing adipisci vel voluptate tempora in. Quas a molestias doloremque minus cumque voluptate saepe aperiam. Dolorum amet deleniti atque veritatis repellat veritatis Quibusdam nemo sapiente voluptas perspiciatis expedita</p>
  </main>
</body>
</html>
